.DS_Store
PyTorch/*
notebooks/*
literature/*
external_book/*
matheMain.pdf
poetry.lock
pyproject.toml
streamlit_stock_watcher
digital_reporting_demo
nasdaq_nyse_amex_with_sec_info.sqlite
streamlit/*
assignment/*
data/*
tutorial/*